.cakeStory{
    background-image: url("../../images/cakestory.jpg") ;
    background-size:cover;
    background-repeat: no-repeat;
    max-width: 100%;
}
.words{
    color: white;
    width: 500px;
    font-size: 17px;
    margin-left: 100px;
    font-weight: bolder;
    font-style: italic;
}
p{
    margin-top: 60px;
}
h2{
    margin-top: 25px;
}